<%- include("includes/header") %>

<link rel="stylesheet" type="text/css" href="/css/home.css" />
<style>
  body {
    /* background-color: #2c261e; */
    background-image: url(https://images.ctfassets.net/o78em1y1w4i4/LHN0F94cNFCx1drEcfcsY/984e632abf38018f2a6ab22c4b61fdc6/teaser-book-with-heart-pages.jpg?fm=webp&w=1160&q=75);
    font-size: 2rem;
  }
</style>
<body>
  <div class="group_name">
    <ul class="nav justify-content-center">
      <li class="nav-item" style="cursor: pointer">
        <a class="nav-link active" href="#">Home</a>
      </li>
      <% if(!member) { %>
      <li class="nav-item" style="cursor: pointer">
        <a class="nav-link" href="/resto/signup">Signup</a>
      </li>
      <li class="nav-item" style="cursor: pointer">
        <a class="nav-link" href="/resto/login">Login</a>
      </li>
      <% } else if (member.mb_type === 'ADMIN') { %>
      <li class="nav-item" style="cursor: pointer">
        <a class="nav-link" href="/resto/all-book">AllBook</a>
      </li>
      <li
        class="nav-item"
        style="cursor: pointer"
        onclick="return confirm('Do you want to logout?')"
      >
        <a class="nav-link" href="/resto/logout">Logout</a>
      </li>
      <% } else { %>
      <li class="nav-item" style="cursor: pointer">
        <a class="nav-link" href="/resto/products/menu">MyBook</a>
      </li>
      <li
        class="nav-item"
        style="cursor: pointer"
        onclick="return confirm('Do you want to logout?')"
      >
        <a class="nav-link" href="/resto/logout">Logout</a>
      </li>
      <% } %>
    </ul>
  </div>
  <!-- HOME PAGE ANIMATION SECTION START -->
<div>
  
</div>

   <!--HOME PAGE ANIMATION SCRIPT START--> 
  <script >
   
  </script>
</body>

<%- include("includes/footer") %>
